<div class="container text-center">
    <h1>Health Tips</h1>
    
        

        <div class="floating-container-blue">
            <div class="col-2">
                <h2>Tips to Lose Weight</h2>
                <% @lose_weight_tips.each do |tip| %>
                    <div class="floating-container-grey">
                        <h3><%= tip.title %></h3>
                        <%= link_to "See Health Tip", health_tip_path(tip)  %>
                    </div>
                <% end %>
            </div>
            <div class="col-2">
                <h2>Tips to Gain Weight</h2>
                <% @gain_weight_tips.each do |tip| %>
                <div class="floating-container-grey">
                    <h3><%= tip.title %></h3>
                    <%= link_to "See Health Tip", health_tip_path(tip)  %>
                </div>
                <% end %>
            </div>
        </div>
    
</div>
<!---->