
<div class="container text-center">
    <div class="floating-container-blue form">
        <h1>Signup Form</h1>
        <% if @user.errors %>
            <% @user.errors.each do |error, message| %>
            <p><%= error.capitalize %>: <%= message %></p>
            <% end %>
        <% end %>
        <%= render 'form' %>
    </div>
    
</div>
