<div class="container text-center">
    <h1><%= time_dependent_greeting %>, <%= @user.name %></h1>
    <div class="floating-container-blue form">
        
        <% if @user.goal && @user.weight && @user.height && @user.gender %>
            <%= render 'weight_metrics' %>
        <% else %>
            <p>In order for the weight tracker to work properly we need some more info from you.</p>
            <%= link_to "Fill out your info.", edit_user_path(@user) %>
        <% end %>
        
    </div>
</div>
