
<main>
    <div class="container text-center">
        <h1>Welcome to Wait</h1>
        <p>This is a weight tracker for anyone that wants to lose weight or gain weight.</p>
    </div>
    <div class="container text-center">
        <div class="card">
            <h4>Create an Account</h4>
            <%= link_to "Signup", new_users_path %>
            <p>-or-</p>
            <h4>Login</h4>
            <%= link_to "Login", login_path %>
         </div> 
    </div>
    
</main>

