<div class="container text-center">
    <h1><%= @user.name %>'s Weights</h1>
    <div class="floating-container-blue form">
        <div>
            <% @weights.reverse.each do |weight| %>
                <p><%= weight.display_date %></p>
                <p><%= weight.weight_input %> lbs. <%= link_to 'Delete Entry', weight_path(weight), method: "delete" %></p>
                
            <% end %>
        </div>
    </div>
</div>