/* Layout Styling */
body {
    margin: 0;
}

main {
    margin-top: 10%;
}

nav>a {
    color: white;
    text-decoration: none;
    margin-left: 5%;
}

nav {
    background-color: black;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px #000;
}

nav>a:hover {
    text-decoration: underline;
    color: #ccc;
}

nav>a:active {
    color: white;
}

.container {
    width: 80%;
    margin: 10% auto;
}

.text-center {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 0 0 10px #000;
}
footer>p {
    padding-left: 2%;
}

/* Health Tip Show Styling */

.comment-container, .reply-container {
    width: 70%;
    margin: 0 auto 5% auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.comment, .reply {
    background-color: #98989C;
    color: black;
    width: 50%;
    margin: 4% auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
}

.comment>p>a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.comment>p>a:hover {
    text-decoration: underline;
    box-shadow: 0 0 10px #000;
}

.comment>p>a:active {
    background-color: black;
    color: white;
    text-decoration: none;
}

.health-tip-container {
    width: 70%;
    margin: 0 auto 5% auto;
    padding: 3%;
}

#health-tip-content {
    margin-top: 10%;
    text-align: left;
}
/* User Show Page Styling */
.user-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.user-container>a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.user-container>a:hover {
    text-decoration: underline;
    box-shadow: 0 0 10px #000;
}

.user-container>a:active {
    background-color: black;
    color: white;
    text-decoration: none;
}
/* Home Styling */

.signup-login-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.col-2 { 
    display: inline-block;
    width: 49%;
    margin: 2% auto 2% 0.5%;
}

.col-2>a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.col-2>a:hover {
    text-decoration: underline;
    box-shadow: 0 0 10px #000;
}

.col-2>a:active {
    background-color: black;
    color: white;
    text-decoration: none;
}

.jumbotron {
    width: 70%;
    margin: 15% auto;
}

.jumbotron>h1 {
    margin-bottom: 10%;
}

#description {
    font-family: sans-serif;
    text-align: left;
}

/* Health Tip Index Styling */
.health-tips-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.tip-container {
    background-color: #98989C;
    color: black;
    width: 50%;
    margin: 4% auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
}

.tip-container>a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.tip-container>a:hover {
    text-decoration: underline;
    box-shadow: 0 0 10px #000;
}

.tip-container>a:active {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* New Weight Styling */

.weight-input-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

input[type="submit"] {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

/* Login Styling  */
.login-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

/* Signup Styling */

.signup-container {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    background-color:#0e26b1;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.field_with_errors {
    border: 2px solid red;
}

.row {
    width: 90%;
    margin: 0 auto;
}

.row>a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}